.env*
!.env.example

# ignore all hidden directories
.*/

# ignore all sub directories
*/*/*
# only track the .gitkeep files
!*/*/.gitkeep

# don't ignore the template directory
!.template/

# don't ignore traefik rules directory
!traefik/config/rules/

.DS_Store
